<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Case</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
	<nav class="w3-bar w3-black w3-large">
		<a href="#" class="w3-bar-item w3-button">Início</a>
		<a href="#" class="w3-bar-item w3-button">Link 1</a>
		<a href="#" class="w3-bar-item w3-button">Link 2</a>
		<a href="#" class="w3-bar-item w3-button">Link 3</a>
	</nav>
	<nav class="w3-sidebar w3-bar-block w3-teal w3-card w3-large" style="display:none" id="mySidebar">
		<a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-circle w3-right">&times;</a><br>
		<a class="w3-bar-item w3-button" href="#">Link 1</a>
		<a class="w3-bar-item w3-button" href="#">Link 2</a>
		<a class="w3-bar-item w3-button" href="#">Link 3</a>
	</nav> 
	<header class="w3-light-grey">
		<button class="w3-button w3-light-grey w3-xxlarge" onclick="w3_open()">&#9776;</button>
		<div class="w3-container">
		<h1 class="w3-jumbo">A</h1>
		<p class="w3-xxlarge">A</p>
		</div>

	</header>

	<div class="w3-container">
 		<p>A</p>
  		<p>A</p>
  		<p>A</p>
	</div>

	<script>
	function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

	function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
	</script>
	<footer class="w3-container">
		<address>Rua Antônio Augusto 1270, 1<sup>o</sup> andar, Fortaleza (CE), +55 85 3252-5469</address>
	</footer>


</body>


</html>
