<!--index.html-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="description" content="gastroenterologia, endoscopia, colonoscopia, ecoendoscopia, CPRE, manometria, pHmetria, impedâncio-pHmetria, fortaleza, ceará, miguel a n souza">
	<title>DEndoscopia Diestiva Alta</title>

	<style>
		div.gallery {
		  margin: 5px;
		  border: 1px solid #ccc;
		  float: left;
		  width: 180px;
		}

		div.gallery:hover {
		  border: 1px solid #777;
		}

		div.gallery img {
		  width: 100%;
		  height: 120px;
		}

		div.desc {
		  padding: 15px;
		  text-align: center;
		}
    </style>

	<style> .servs {
	              background-color: lightblue;
	              text-align: center;
	              margin: auto;
	              width: 99%;
	              
	              border: 1px solid green;
	              clear: left;
            }
            .scale-down {object-fit: scale-down;}
            .center {text-align: center; padding: 0px}
    </style>
    <style>
    	#center {text-align: center; margin-left:auto; margin-right:auto; display:block;}
    </style>
    <style>
    	    ul {
            	list-style-type: none;

            }
    </style>
</head>
<body id="myPage">
	<div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v4.0"></script>
	<br>
	<h1 class="center">Endoscopia Digestiva Alta</h1>
	
    <!-- Sidebar on click -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
            <i class="fa fa-remove"></i>
        </a>
        <a href="#" class="w3-bar-item w3-button">Link 1</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
        <a href="#" class="w3-bar-item w3-button">Link 4</a>
        <a href="#" class="w3-bar-item w3-button">Link 5</a>
    </nav>
    
    <!-- Navbar / w3-top blocked the page to a fixed size, and h1 and p above do not appear-->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Logo</a>
            <a href="capture" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Photo</a>
            <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Serviços</a>
            <a href="#pricing" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Convênios</a>
            <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contato</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button" title="Notifications">Dropdown <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="#" class="w3-bar-item w3-button">Link</a>
                    <a href="#" class="w3-bar-item w3-button">Link</a>
                    <a href="#" class="w3-bar-item w3-button">Link</a>
                </div>
            </div>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
        </div>
    </div>

	<!-- Image Header -->
    <div class="w3-display-container w3-animate-opacity">
    	{% load static %}
        <img src="{% static 'catalog/gcanyon1.jpg' %}" alt="Digest" style="width:100%;min-height:250px;max-height:600px;">
            <div class="w3-container w3-display-bottomleft w3-margin-bottom">
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">Digest</button>
            </div>
    </div>

        <!-- Modal -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-teal w3-display-container">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
                <h4>Olá! Seja bem vindo..</h4>
                <h5>Espero que encontre o que precisa <i class="fa fa-smile-o"></i></h5>
            </header>
            <div class="w3-container">
                <p>Podemos dar mais informações </p>
                <p>Entre em contato <a class="w3-text-teal" href="/w3css/default.asp">aqui</a> e faremos o máximo para ajudar</p>
            </div>
            <footer class="w3-container w3-teal">
                <p>Modal footer</p>
            </footer>
        </div>
    </div>
    

                            
                            <!-- Work Row -->

                            <div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">
                                
                                <div class="w3-quarter">
                                    <h2>Nossa Missão</h2>
                                    <p>Prestar serviços em saúde centrados no paciente e sua família, com alta qualidade técnica e respeitando os princípios da bioética.</p>
                                </div>
                                
                                <div class="w3-quarter">
                                    <div class="w3-card w3-white">
                                    	{% load static %}
                                        <img src="{% static 'catalog/logo_menor.png' %}" alt="Snow" style="width:100%">
                                            <div class="w3-container">
                                                <h3>Customer 1</h3>
                                                <h4>Trade</h4>
                                                <p>Blablabla</p>
                                                <p>Blablabla</p>
                                                <p>Blablabla</p>
                                                <p>Blablabla</p>
                                            </div>
                                            </div>
                                </div>
                                
                                <div class="w3-quarter">
                                    <div class="w3-card w3-white">
                                    	{% load static %}
                                        <img src="{% static 'catalog/logo_menor.png' %}" alt="Lights" style="width:100%">
                                            <div class="w3-container">
                                                <h3>Customer 2</h3>
                                                <h4>Trade</h4>
                                                <p>Blablabla</p>
                                                <p>Blablabla</p>
                                                <p>Blablabla</p>
                                                <p>Blablabla</p>
                                            </div>
                                            </div>
                                </div>
                                
                                <div class="w3-quarter">
                                    <div class="w3-card w3-white">
                                    	{% load static %}
                                        <img src="{% static 'catalog/logo_menor.png' %}" alt="Mountains" style="width:100%">
                                            <div class="w3-container">
                                                <h3>Customer 3</h3>
                                                <h4>Trade</h4>
                                                <p>Blablabla</p>
                                                <p>Blablabla</p>
                                                <p>Blablabla</p>
                                                <p>Blablabla</p>
                                            </div>
                                            </div>
                                </div>
                                
                            </div>
           

                            <!-- Container / Plus sign in the green circle-->
           
                            <div class="w3-container" style="position:relative">
                                <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
                                    style="position:absolute;top:-28px;right:24px">+</a>
                            </div>
                 
 
                           
                            <!-- Contact Container -->
                            <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
                                <div class="w3-row">
                                    <div class="w3-col m5">
                                        <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Entre em contato</span></div>
                                        <h3>Endereço</h3>
                                        <p>Ligue, passe um e-mail ou mensagem</p>
                                        <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Fortaleza, CE</p>
                                        <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  85 32525469</p>
                                        <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  contato@digest.com.br</p>
                                    </div>
                                    <div class="w3-col m7">
                                        <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
                                            <div class="w3-section">
                                                <label>Nome</label>
                                                <input class="w3-input" type="text" name="Name" required>
                                                    </div>
                                            <div class="w3-section">
                                                <label>Email</label>
                                                <input class="w3-input" type="text" name="Email" required>
                                                    </div>
                                            <div class="w3-section">
                                                <label>Menssagem</label>
                                                <input class="w3-input" type="text" name="Message" required>
                                                    </div>
                                            <input class="w3-check" type="checkbox" checked name="Like">
                                                <label>Curtir!</label>
                                                <button type="submit" class="w3-button w3-right w3-theme">Enviar</button>
                                                </form>
                                    </div>
                                </div>
                            </div>

                                <!-- Footer -->
                                <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
                                    <h4>Siga-nos</h4>
                                    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
                                    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
                                    <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                    <p>Powered by <a href="http://www.digest.com.br" target="_blank">digest.com.br</a></p>
                                    
                                    <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
                                        <span class="w3-text w3-padding w3-teal w3-hide-small">Acima</span>
                                        <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
                                            <i class="fa fa-chevron-circle-up"></i></span></a>
                                    </div>
                                </footer>
                                
                                <script>
                                    // Script for side navigation
                                    function w3_open() {
                                        var x = document.getElementById("mySidebar");
                                        x.style.width = "300px";
                                        x.style.paddingTop = "10%";
                                        x.style.display = "block";
                                    }
                                
                                // Close side navigation
                                function w3_close() {
                                    document.getElementById("mySidebar").style.display = "none";
                                }
                                
                                // Used to toggle the menu on smaller screens when clicking on the menu button
                                function openNav() {
                                    var x = document.getElementById("navDemo");
                                    if (x.className.indexOf("w3-show") == -1) {
                                        x.className += " w3-show";
                                    } else {
                                        x.className = x.className.replace(" w3-show", "");
                                    }
                                }
                                </script>

</body>
</html>

