{% load static %}
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Language" content="pt-br">
    <meta charset="utf-8">
    <title>MED</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="container">
    <div class="group">
    <div class="login-box">
        <div class="box-header" style="background: black;">
            <h2>ADM</h2>
        </div>
        <form action="{% url 'adm' %}" method="post">
        <label for="username">Usuário</label>
        <br/>
        <input type="text" name="username" id="username" minlength="5" maxlength="100" required>
        <br/>
        <label for="password">Senha</label>
        <br/>
        <input type="password" name="password" id="password" minlength="8" maxlength="24" required>
        <br/>
        <button type="submit" style="background: black;" >Entrar</button>
        <br/>
        {% if messages %}
        <span class="messages">
        {% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        {% endfor %}
        <span/>
        {% endif %}
        </form>
        <a href="{% url 'index' %}"><p class="small">Voltar</p></a>
    </div>
</div>
</body>

</html>