{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
</head>

<body>
        <form action="{% url 'med:delete-event, event.code %}" id="del-event" method="delete" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% if list_events_all %}
                <ul id="li-front">
                    {% for event in list_events_all %}
                        <input type="radio" name="del-event" id="event{{ forloop.counter}}" value="{{event.code}}"></br>
                        <label for="event{{ forloop.counter}}">{{event.title}}, {{event.start}}, {{event.code}}, {{event.userCode}}></lable></br>
                        <br>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Sem eventos</p>
            {% endif %}

            <input type="hidden" name="id" id="id">
                
        
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Médico</label>
                <div class="col-sm-10">
                    <select name="userCode" class="form-control" id="userCode">
                        <option value="">Selecione</option>         
                        <option style="color:#FFD700;" value="#FFD700">Amarelo</option>
                        <option style="color:#0071c5;" value="#0071c5">Azul Turquesa</option>
                        <option style="color:#FF4500;" value="#FF4500">Laranja</option>
                        <option style="color:#8B4513;" value="#8B4513">Marrom</option>  
                        <option style="color:#1C1C1C;" value="#1C1C1C">Preto</option>
                        <option style="color:#436EEE;" value="#436EEE">Royal Blue</option>
                        <option style="color:#A020F0;" value="#A020F0">Roxo</option>
                        <option style="color:#40E0D0;" value="#40E0D0">Turquesa</option>
                        <option style="color:#228B22;" value="#228B22">Verde</option>
                        <option style="color:#8B0000;" value="#8B0000">Vermelho</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Início do evento</label>
                <div class="col-sm-10">
                    <input type="datetime-local" name="start" class="form-control" id="start" step="900">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Procedimento</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" id="title" placeholder="Procedimento a realizar">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Comentários</label>
                <div class="col-sm-10">
                    <input type="text" name="comment" class="form-control" id="comment" placeholder="Informações extras">
                </div>
            </div>
        
            <!--<div class="form-group row">
                <div class="col-sm-10">
                    <button type="button" onclick="location.reload()" class="btn btn-primary btn-canc-edit">Cancelar</button>
                    <button type="submit" name="CadEvent" id="CadEvent" value="CadEvent" class="btn btn-success">Cadastrar</button>
                </div>
            </div>-->
            <button class="btn btn-success" type="submit">Gravar</button>
        </form>

    </body>