{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>MED</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-adm.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/agenda.css' %}">
    <link href="{% static 'css/fullcalendar.min.css' %}" rel='stylesheet' />
    <link href="{% static 'css/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/gcal.min.js' %}"></script>
    <script src="{% static 'js/pt-br.js' %}"></script>
    <script src="{% static 'js/calendario_adm.js' %}"></script>
</head>

<body>
<nav class="nav">
    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <div class="center">
            <span class="title-adm">Agenda</span>
                <div class="menu">
                <a href="{% url 'sair' %}"><p class="small">Sair</p></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
  <div id='wrap'>
    <div id='external-events'>
      <form action="{% url 'adicionar_consulta' %}" method="post">
        <h3>Marcar consulta</h3>
        <label>Data&emsp;/&emsp; Hora</label>
        <br/>
        <input type="date" id="data" name="data" required>
        <input type="time" id="time" name="time" min="4:00" max="23:00" required />
        <br/>
        <label>Comentario</label>
        <br/>
        <input type="text" id="comentario" name="comentario">
        <br/>
        <br/>
        <button type="submit">Gravar</button>
        <br/>
        {% if messages %}
        <span class="messages">
        {% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        {% endfor %}
        <span/>
        {% endif %}
       </form>
    </div>
    <div class="animated fadeInUp">
    </div>

    <div id='calendar'></div>

    <div style='clear:both'></div>

  </div>
</div>
</body>

</html>