{% load static %}
{% load rest_framework %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Lista de eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
</head>
    <body>

        <div>
            <p>Lista de Eventos</p>
              
                {% if serializer %}
                    <p>{{ serializer }}</p>
                    <br>
                    <p>{{ events }}</p>
                    <br>
                    <p></p>

                    
                 {% endif %}
                <ul>
                    <li></li>
                </ul>
               
        </div>

    </body>
</html>
