{% load static %}
{% load rest_framework %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>MED</title>

<body>

<h1>Profile - {{ event.client }}</h1>

        <div>
            <p>Evento pk</p>
              
                {% if serializer %}
                    <p>{{ serializer }}</p>
                    <br>
                    <p>{{ event }}</p>
                    <br>
                    <p></p>

                    
                 {% endif %}
     
               
        </div>

</body>

</html>
