{% load static %}
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>MED / Cadastro </title>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
	<div class="container">
		<div class="login-box animated fadeInUp">
			<div class="box-header">

				<h2>Cadastro</h2>

			</div>
			<form action="{% url 'signup' %}" method="post">
			<label>Nome</label>
			<br/>
			<input type="text" name="name" value="" minlength="2" maxlength="100" pattern="[a-zA-Z0-9]+" required>
			<br/>
			<label>Usuário</label>
			<br/>
			<input type="text" name="username" id="username" minlength="6" maxlength="100" pattern="[a-zA-Z0-9]+" required>
			<br/>
			<label>Senha</label>
			<br/>
			<input type="password" name="password" id="password" minlength="8" maxlength="24" required>
			<br/>
            <label>Confirmar Senha</label>
            <br/>
            <input type="password" name="cpassword" id="cpassword" minlength="8" maxlength="24" required>
            <br/>
			<label>E-mail</label>
			<br/>
			<input type="email" name="email" id="email" maxlength="120" required>
			<br/>
			<button type="submit">Confirmar</button>
			<br/>
			{% if messages %}
        	<span class="messages">
        	{% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        	{% endfor %}
        	<span/>
        	{% endif %}
			<a href="{% url 'index' %}"><p class="small">Login</p></a>
			</form>
		</div>
	</div>
</body>


</html>