
<!--<h1>Bom dia!!!</h1>
{% if toEmailCount < 4 %}

{% if extra %}
{% if event_data %}
{% if kollege_id %}
{% if psToEmail %}
<h2>Dr(a) {{extra}},</h2>

<h2>Esta é sua agenda de amanhã conosco:</h2>
<ul>

    {% for ev in event_data %}
    {% if kollege_id == ev.kollege_id %}
		{% if ev.color != '#FFFFFF' %}
                <p>
                        Cliente: {{psToEmail.0.name}}<br>
                        Exame: {{ev.title}}<br>
			            Data: {{ev.start}}
                </p>
		{% endif %}
    {% endif %}
    {% endfor %}

</ul>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}<br>
<h2>Digest</h2>
<p>85 996288800</p>
<p>85 32241547</p>-->


<h2>Bom dia Dr(a) {{ extra }}!</h2>
<p>Esta é sua agenda de amanhã:</p>

{% for ev in event_data %}
  {% if ev.color != '#FFFFFF' %}
    <p>
      <strong>Cliente:</strong> {{ ev.persona.name }}<br>
      <strong>Exame:</strong> {{ ev.title }}<br>
      <strong>Data:</strong> {{ ev.start|date:"d/m/Y H:i" }}
    </p>
  {% endif %}
{% endfor %}

<hr>
<p>Digest<br>85 996288800<br>85 32241547</p>