<!DOCTYPE html>

<html lang="pt-br" >
<head>
<title>Acessar | Digest</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" login"
  data-admin-utc-offset="-10800">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
<h1 id="site-name"><a href="/admin/">Administração Digest</a></h1>
        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
          <form action="/admin/login/?next=api/persona/inicio/" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="zVwGzMn3dFyR7Lxe2MQOwDYgmc41nGHJiT2VfxWKuoLk7wkBhMvLaBFB1U0aR1Dd">
            <div class="form-row">
              <label class="required" for="id_username">Email:</label> <input type="text" name="username" autofocus required id="id_username">
            </div>
            <div class="form-row">
              <label class="required" for="id_password">Senha:</label> <input type="password" name="password" required id="id_password">
              <input type="hidden" name="next" value="/inicio/">
            </div>
            <div class="submit-row">
              <label>&nbsp;</label><input type="submit" value="Acessar">
            </div>
          </form>
        </div>
        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
